:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face{
  font-family: "Algol";
  src: url("./Fonts/Algol.ttf") ;
  /* font-weight: bold; */
  font-style: normal;
}
@font-face{
  font-family: "Bruce";
  src: url("./Fonts/BruceForever.ttf") ;
  /* font-weight: normal; */
  font-style: normal;
}

@font-face {
  font-family: "Esportiva";
  src: url("./Fonts/Esportiva.ttf"); 
}

@font-face {
  font-family: "HuggyBear";
  src: url("./Fonts/HuggyBear.ttf"); 
}

@font-face {
  font-family: "Pixel"; 
  src: url("./Fonts/PixelEmulator.ttf");
}

@font-face {
  font-family: "Striker"; 
  src: url("./Fonts/Striker.otf");
}

@font-face {
  font-family: "Valorax"; 
  src: url("./Fonts/Valorax.otf");
}

@font-face {
  font-family: "Vermin"; 
  src: url("./Fonts/VerminVibes.ttf");
}

@font-face{
  font-family: "Vector";
  src: url("./Fonts/Vector/ChargeVector.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Vector";
  src: url("./Fonts/Vector/ChargeVectorThin.ttf");
  font-weight: thin;
  font-style: normal;
}
@font-face{
  font-family: "Vector";
  src: url("./Fonts/Vector/ChargeVectorBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "Vector";
  src: url("./Fonts/Vector/ChargeVectorBlack.ttf");
  font-weight: black;
  font-style: normal;
}
